= api_form_for @bm_get_inventory, :url => button_manager_path(:bm_get_inventory) do |f|

  .row
    .span5
      %legend Get inventory request
      = f.input :HostedButtonID

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @bm_get_inventory_response
  = render 'api_response', :request => @bm_get_inventory, :response => @bm_get_inventory_response
