= api_form_for @bm_get_button_details, :url => button_manager_path(:bm_get_button_details) do |f|

  .row
    .span5
      %legend Get button details request
      = f.input :HostedButtonID

  .form-actions
    = f.submit "Submit", :class => "btn btn-primary", :data => { :disable_with => "Processing.." }

- if @bm_get_button_details_response
  = render 'api_response', :request => @bm_get_button_details, :response => @bm_get_button_details_response
